**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
*.iml
.gradle
.gradletasknamecache
build
out
target
local.properties
benchmarks.jar
/kotlin-js-store
