/*
 * Copyright 2016-2021 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

#scene {
    border: #000000 1px solid;
    position: relative;
}

.rect {
    position: absolute;
    background: red;
}

.circle {
    position: absolute;
    background: #ffa450;
    border-radius: 50%;
}
